/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.blogBox{
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-right: auto;
  color: green;
}
.titleBox{
  margin-left: 400px;
  width: 500px;
  color: green;
}
.blogBoxSubmit{
  margin-left: 400px;
  position: bottom;
}

.createBlogHeader{
  margin-left: 400px;
}

/*.mainDiv{
  background-image: url("http://wallpapercave.com/wp/UV9qmUi.png");
  background-repeat: no-repeat;
  height:100vh;
}*/

.blogDiv{
  background-color: white;
  height: 800px;
  width: 600px;
  margin-left: 150px;
  margin-right: auto;
  color: green;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  overflow-x: scroll;
}



